[2020-05-31 16:27] pgermishuys opened #5 "Evaluate current default timeout which is 1 second"
The .NET gRPC client currently has a default Timeout setting of 5 seconds. With the recent [PR](https://github.com/EventStore/EventStoreDB-Client-Java/pull/4) that introduces timeouts, the default value is 1 second.

We want to evaluate and ensure there is consistency with defaults across all of the clients.

[2020-06-01 04:27] jen20 opened #10 "Add a cluster discovery mechanism"
We need to be able to connect to an Event Store cluster. In the Event Store Dotnet Client we currently use the gossip endpoint which is http based. We are working on a gRPC based implementation.

[2020-06-01 04:28] jen20 opened #11 "Consider API ergonomics of SubscriptionFilter"
Currently constructing an `SubscriptionFilter` is somewhat verbose - we might be able to do better than this with a builder or static factory methods.

[2020-06-01 04:29] jen20 opened #12 "Add and publish JavaDoc for all public facing types"
We should add JavaDoc comments to all public facing types, and add a build lint that produces errors going forward. The JavaDoc should be published in native format as part of the documentation website.

cc @mat-mcloughlin

[2020-06-01 04:34] jen20 opened #13 "Write README file, CONTRIBUTING guide and so forth"
This repository requires a README file that explains how to obtain packages, a basic set of usage examples, development build and contribution guidelines and so forth.

[2020-06-02 05:51] #11 closed, assigned to nobody

[2020-06-02 07:04] alexeyzimarev opened #15 "Add gradlew.sh in addition to gradlew.bat"
Would it make sense to add `gradlew.sh` in addition to `gradlew.bat`, since not everyone is on Windows?

[2020-06-02 19:24] #15 closed, assigned to jen20

[2020-06-03 14:33] jen20 opened #16 "Configure publishing artifacts"
Ideally we would have a structure similar to the following:

- Each merge to master publishes a snapshot package to the GitHub Packages Maven repository associated with this repository.

- Each tagged release publishes packages to Maven Central.

It appears that Maven Central cannot be configured until after this repository is open sourced, and one has to request project hosting from them via GitH

[2020-06-08 16:51] jen20 opened #20 "Pull in `StreamIdentifier` changes to protocol"
EventStore/EventStore#2530 introduced a new change to the gRPC protocol, introducing a `StreamIdentifier` message for future use. We need to adopt that to be protocol compatible with late release candidates of the server, and should consider whether to expose it yet it in the public API for future compatibility.

[2020-06-08 23:48] #13 closed, assigned to jen20

[2020-06-08 23:49] #20 closed, assigned to jen20

[2020-06-09 03:12] #16 closed, assigned to jen20

[2020-06-09 04:37] jen20 opened #25 "Ensure stream identifiers are limited to the correct character set"
As of #21, stream identifiers are now structured, but represented on the wire as `ByteString` types. @jageall suggests that these should be limited in which bytes are acceptable, and that the encoding should then be ASCII rather than UTF-8 (though they are identical for the acceptable range of bytes). We should enforce this from the start in this client.

@jageall, what are the restrictions which

[2020-07-07 05:07] jen20 opened #29 "Enable code scanning service"
GitHub has a new code scanning service that works for open source Java repositories in this organisation - we should enable it as a workflow for this repository.

[2020-07-07 05:09] jen20 opened #30 "Fix publication of snapshot packages to GitHub package repo"
#28 broke the publish on successful pushes to the `trunk` branch, likely because of a missing plugin - this needs to be fixed to get `trunk` to be green.

[2020-07-07 16:02] #30 closed

[2020-08-31 13:14] YoEight opened #33 "Implement Persistent Subscription API"

[2020-09-30 14:04] YoEight commented on #33
https://github.com/EventStore/EventStoreDB-Client-Java/commit/51e57ec3ac6f43863a130d5313cf4e9219c0b838

[2020-09-30 14:04] #33 closed, assigned to nobody

[2020-09-30 14:07] YoEight commented on #10
Done https://github.com/EventStore/EventStoreDB-Client-Java/commit/d375fdf8075f8baa854d7dcc78132a138982f27b

[2020-09-30 14:07] #10 closed

[2020-11-02 12:27] YoEight opened #40 "Support connection string."

[2020-11-06 12:00] alexeyzimarev opened #42 "Rename Connection to Client"
`EventStoreConnection` only makes sense for TCP as it requires `Open` and `Close`.

Since gRPC uses a stateless client, which doesn't require to open and close the connection, we should avoid using the confusing `Connection` term.

We must also align all the clients with those that are already widely used and stick to the same terminology and semantics across all the clients.

Even though it intro

[2020-11-23 17:32] #40 closed, assigned to nobody

[2020-11-24 17:23] #42 closed, assigned to nobody

[2020-11-27 14:30] pardhasm opened #45 "Getting ClassNotFoundException for GrpcSslContexts"
HI,

I am trying to use this jar to publish events. When I'm trying to connect a client, I'm getting the following exception.
`Caused by: java.lang.ClassNotFoundException: io.grpc.netty.shaded.io.grpc.netty.GrpcSslContexts`

My code :

[code]

StackTrace:
[code]

I'm using version **0.2**

[code]

[2020-11-27 14:51] YoEight commented on #45
Hi @pardhasm, thanks for submitting that issue, seems something went wrong when the package got published on Maven Central.
I'm cutting a new release today ASAP.

[2020-11-27 14:53] YoEight commented on #45
In the meantime, adding "io.grpc:grpc-netty-shaded:1.31.1" to your pom file should fix your issue.

[2020-11-27 15:00] YoEight commented on #45
@pardhasm could you give your Java version too, please?

[2020-11-27 15:55] pardhasm commented on #45
@YoEight I'm using Java 11. On adding the jar, that error is resolved.  But I'm getting a new error.

`Caused by: java.lang.ClassNotFoundException: io.grpc.stub.AbstractStub`

[2020-11-27 16:05] YoEight commented on #45
@pardhasm Thanks for the info.

I'm unable to reproduce the issue on a brand new project. I'm using Gradle though. I'm looking into a potential setting I missed for maven users.

[2020-11-27 16:07] YoEight commented on #45
For some reason, it looks like maven cannot see those dependencies in your case:
[code]

[2020-11-27 16:15] YoEight commented on #45
Could you share how you are running your code because your classpath seems off?

[2020-11-27 16:59] pardhasm commented on #45
I'm creating a jar and running it. This is my pom.xml
[code]

The commands are
[code]

[2020-11-27 17:06] YoEight commented on #45
@pardhasm Are you sure your JAR contains all the dependencies you need? Because I'm pretty sure that is the cause of the issue here. Could you unpack it so we are confident nothing is missing there?

[2020-11-27 17:29] pardhasm commented on #45
This is the dependency tree generated. I do not see any of the dependencies mentioned.
**com.eventstore:db-client-java:jar:0.2** is not bringing any of its required dependencies
[code]

[2020-11-27 17:35] YoEight commented on #45
Then that's your problem IMHO but I keep looking on my side. It would appear the way you create your jar could not be the right approach:

https://stackoverflow.com/questions/16703110/maven-not-packaging-dependencies-in-jar

[2020-11-27 17:40] pardhasm commented on #45
I really don't think so. Jars generally come with their required dependencies ( jars in case of uber jars or references in case of slim jars) so that they can be just imported and expected to work as-is. This is true for all the jars other than event-store from the tree above.  If my final jar does not contain its dependencies it would be my problem.

Correct me if I'm wrong but never faced with a

[2020-11-27 17:47] YoEight commented on #45
@pardhasm It could be easy to test. What is happening when you run directly your code in a IDE or whatever dev environment you use? Do you experience the same behaviour too?

[2020-11-27 17:53] YoEight commented on #45
My current lead on my side is if I should have used `api` instead of `implementation` for my gradle configuration:

https://tomgregory.com/how-to-use-gradle-api-vs-implementation-dependencies-with-the-java-library-plugin/

[2020-11-27 18:00] pardhasm commented on #45
Yes. Exact same.  That was the first thing I tried which lead me to build it manually.

On adding the dependencies you mentioned above, I think its going past that.

I had to add

[code]

Now I'm getting a different error.  May or may not be related.

[code]

[2020-11-27 18:13] pardhasm commented on #45
This is the event I'm trying to publish

[code]

On decoding the Hex code given it converts to

[code]

Can you please confirm if these two are related or if this is altogether a different issue?

[2020-11-27 18:21] YoEight commented on #45
The last error you got is because you probably started the server in insecure mode but said otherwise to the client. Switching your connection string to `esdb://my_ip:2113?tls=false` should fix it.

[2020-11-27 18:29] pardhasm commented on #45
@YoEight  Thank you. That solved the issue. But please keep this open. If I figure some issue in my pom or build, I'll update for future users and close this.

[2020-11-27 20:48] YoEight commented on #45
@pardhasm Based on what I read, the patch I made in #46 should resolve your issue. I'll deploy it to Maven Central right after. It should be available in 2 hours.

[2020-11-27 23:23] YoEight commented on #45
@pardhasm The new `0.3` version is available on Maven Central. Please tell me if it has solved your dependency issue.

[2020-11-30 09:33] pardhasm commented on #45
@YoEight  0.3 didn't help. Same error. On adding the dependencies individually is working

[2020-11-30 10:39] YoEight commented on #45
I honestly don't know what  to do on my end because I can't reproduce it when creating a new app. Granted I use Gradle but I don't see how this could be a factor here.

Could you give the plugin mentioned there a try? https://stackoverflow.com/questions/16703110/maven-not-packaging-dependencies-in-jar

[2020-12-01 13:22] YoEight commented on #45
From @Lougarou

[code]

when I run from the IDE:
[code]
I get this:
[code]

[2020-12-01 13:24] pardhasm commented on #45
@YoEight  This is the exact same error.  Happening with 0.3 too.

[2020-12-01 13:35] YoEight commented on #45
Apparently, default Gradle configuration produces a thin jar. Which works fine with Gradle based application. Producing a fat jar should solve the issue. I'm looking into this: https://github.com/johnrengelman/shadow

[2020-12-08 10:03] YoEight commented on #45
Great news @pardhasm ! I cut the 0.4 release which fixes your dependency issue. The problem was due to an outdated Gradle maven plugin that didn't support the Gradle version we use. That plugin didn't support the new Gradle dependency scopes which caused to default it to `compile`. Therefore, you didn't have those dependencies when you really needed, at runtime.

[2020-12-08 10:51] #45 closed, assigned to nobody

[2020-12-31 09:56] George-Payne opened #52 "Connection string keys should be case insensitive"

[2021-01-05 14:04] #52 closed, assigned to nobody

[2021-01-08 16:15] YoEight opened #54 "Increase significantly the log output."

[2021-01-22 18:03] dhirajkumar94 opened #56 "Getting io.grpc.StatusRuntimeException: PERMISSION_DENIED: Access Denied for EventStoreDBPersistentSubscriptionsClient"
Hi,

I am trying to create a persistent subscription to a stream using EventStoreDBPersistentSubscriptionsClient, but it's throwing the exception `io.grpc.StatusRuntimeException: PERMISSION_DENIED: Access Denied`.

My code:

[code]

I am also using EventStoreDBClient which is connecting successfully to the server using the following code:

[code]

StackTrace:
[code]

I'm using the following depend

[2021-01-22 20:06] YoEight commented on #56
This is expected behaviour if you try to create a persistent subscription and the logged user doesn't have an admin role.

[2021-01-23 07:41] dhirajkumar94 commented on #56
@YoEight I'm using admin user credentials

[2021-01-23 07:58] YoEight commented on #56
According to your code, when creating your persistent subscription, you use a default credentials and another credentials at the command level. In both cases, are you using the same credentials?

[2021-01-23 09:15] dhirajkumar94 commented on #56
@YoEight yes, I'm using the same credentials.

Do I need to pass the credentials at the command level or just passing the PersistentSubscriptionSettings will work?

[2021-01-23 09:53] YoEight commented on #56
I would recommend using credentials at the command level to only override whatever configuration you have globally.

What is the stream you try to create a persistent subscription on?
Are you sure you entered the credentials correctly?
What version of the server you are using?

[2021-01-25 05:27] dhirajkumar94 commented on #56
@YoEight We are creating our own stream.
Yes, I'm entering the correct credentials.
We're using server version 20.6.1.0

[2021-01-25 11:02] YoEight commented on #56
I'm unable to reproduce this behaviour but I still got questions.

When you try to create your persistent subscription, do you see a line in the server log resembling something like this:

[code]
?

Did you change the default ACLs in your cluster?

When creating a persistent subscription, the authenticated user needs to also have read access on the target stream.

[2021-01-27 00:23] teddy-chen opened #58 "Cannot build event data as json with Java 8 Instant type"
Hi,

I am writing events with Java 8 Instant type. But the EventData.builderAsJson() method does not support it.
My code:

    @Test
    public void cannot_build_event_data_as_json_with_Instant_type() {
        EventData.builderAsJson(
                "streamName",
                Instant.now())
                .build();
    }

StackTrace:

java.lang.RuntimeException: com.fasterxml.jackson.databin

[2021-02-02 14:23] YoEight commented on #58
Hi, and sorry for not seeing that issue sooner.

It's not a client bug if you don't have `com.fasterxml.jackson.datatype:jackson-datatype-jsr310` in your classpath. This dependency is not used by the client and we rather keep the dependency graph as small as possible.

[2021-02-02 14:54] teddy-chen commented on #58
Hi, thanks for your information.

When I added the following dependency to my pom.xml file, it works.

       <dependency>
            <groupId>com.fasterxml.jackson.core</groupId>
            <artifactId>jackson-databind</artifactId>
            <version>2.10.2</version>
        </dependency>

[2021-02-02 15:48] #58 closed, assigned to nobody

[2021-02-03 10:29] dhirajkumar94 opened #59 "Getting io.grpc.StatusRuntimeException: UNAVAILABLE: Network closed for unknown reason"
Hi,

I am creating a persistence subscription listener and am able to listen to the events produced, but the listeners are throwing the following error after an hour or so:

[code]

Stacktrace:
[code]

I'm using the following dependency:
[code]

[2021-02-03 22:01] YoEight commented on #59
Hi @dhirajkumar94, could you test the `0.7` version and tell me if you still have the issue?

[2021-02-23 13:55] #59 closed, assigned to nobody

[2021-02-23 13:56] #56 closed, assigned to nobody

[2021-02-23 14:00] YoEight opened #61 "Apply DRY principle in the connection string parsing function."

[2021-03-04 13:28] grale88 opened #63 "Scala support?"
We have been using old client for implementing Scala event store applications and since we saw on official docs [page](https://developers.eventstore.com/server/v20/server/introduction/clients.html#tcp-protocol) that there is a plan to phase out old TCP clients, we were wondering if we can use new official Java client (grpc) with Scala. Is there also any example of integration available? One of our

[2021-03-04 15:48] ahjohannessen commented on #63
I got one here https://github.com/ahjohannessen/sec :)

[2021-03-09 16:59] dhirajkumar94 opened #65 "ERROR - io.grpc.StatusRuntimeException: UNKNOWN: Envelope callback expected either PersistentSubscriptionConfirmation or NotHandled, received NotHandled instead"
Hi,

I am trying to create a persistent subscription to a stream using the following code:
[code]

Client initialisation code:
[code]

It was working a few hours ago but now it is throwing the following exception:
[code]

Full stacktrace:
[code]

I'm using the following dependency:
[code]

[2021-03-09 17:02] #65 closed, assigned to nobody

[2021-03-16 22:03] grale88 commented on #63
@ahjohannessen

Sorry for the late reply. I checked the documentation for usage examples. Are there examples of reading/deleting events available somewhere on the repo?

I am also interested if this library can be used with Scala or it will be supported in the future, since it is an official client library.

[2021-03-17 07:24] ahjohannessen commented on #63
@grale88 I got busy with other stuff, so I put that on pause, but will take it up soon.

For now there are a lot of integration tests, though optimized for DRY, so that might help.

That should not be a big issue, but it comes with some “sad” things from Java, e.g. null usage, exceptions and so on - It is similar to the dotnet client. My client is based around FP and uses cats-effect and fs2, so t

[2021-03-20 10:39] AdamClements opened #66 "Incompatible with dynamic JVM languages"
Due to a [bug in the JVM](https://bugs.java.com/bugdatabase/view_bug.do?bug_id=4283544) (still open since 1999) Reflection vs Compiler gives different access levels to package-private classes, i.e. inheriting a public method from a protected class works fine for javac but doesn't work when using the reflection API as various dynamic JVM languages, (and maybe spring etc?) do.

I hit this when tryin

[2021-03-20 10:41] AdamClements commented on #66
Note, I'm happy to submit patches for this if we can agree an approach you'd be willing to accept for this, I can see why it's been made non public, presumably to keep the api clean while still reusing components.

[2021-03-20 18:09] YoEight commented on #66
Hi @AdamClements

Thanks for submitting that issue. We'll be happy to discuss your approach in a PR!

[2021-03-21 13:15] dhirajkumar94 opened #67 "Getting io.grpc.StatusRuntimeException: PERMISSION_DENIED: Access Denied"
Hi,

I am trying to create a listener using a persistent subscription client but getting error "PERMISSION_DENIED: Access Denied" even though I am getting stream events using a regular client.

The following code is not working and I am getting "Access Denied":
[code]

The following code is working and I can fetch the events:
[code]

I am even able to create a persistent subscription by calling ev

[2021-03-23 04:49] dhirajkumar94 commented on #67
@YoEight could you please help

[2021-03-23 10:43] YoEight commented on #67
Did you try with the latest version of the client (version `1.0.0`)?

When that exception happens, is it when you create the persistent subscription or when you try to subscribe to it?

I also going to ask questions you didn't answer in a previous issue similar to this one:

When you try to create your persistent subscription, do you see a line in the server log resembling something like this:

Fa

[2021-03-26 13:43] captainhorsepower opened #68 "Getting latest build (snapshot / edge)"
Hi! I'd like to use lates build (based on trunk branch). But I don't see how I can download that and use as maven dependency.

Specifically, I want to use `EventDataBuilder#json` as from pr #64 , but that's not on maven central yet.

Currently I build locally and do `./gradlew publishToMavenLocal`, but do want to setup CI pipeline and don't want tricky workarounds to make it work there.

I've seen

[2021-03-31 16:13] AdamClements commented on #66
We've decided to swap out eventstore due other deployment-at-scale issues, so I'm probably not going to be following this up with a PR, sorry

[2021-03-31 16:13] #66 closed, assigned to nobody

[2021-04-22 08:54] huyhoangepay commented on #67
We're seeing the same issue.
The server logs:
[code]
The issue is that we did pass the admin username/password when creating the client.
I tried the same API for the C# client, which works without problems.
Seems like a Java client bug

[2021-04-22 09:14] huyhoangepay commented on #67
Ok I actually found the bug.
In the DBClient (non-persistent) there's a step to authenticate the default credential if none is specified in the options:
https://github.com/EventStore/EventStoreDB-Client-Java/blob/f8f86592c485169de1fe3e22b9bde2e2c592193c/db-client-java/src/main/java/com/eventstore/dbclient/EventStoreDBClient.java#L91

That step doesn't exist in the `EventStoreDBPersistentSubscripti

[2021-04-22 11:21] dhirajkumar94 commented on #67
@huyhoangepay CreatePersistentSubscriptionOptions doesn't accept PersistentSubscriptionListener as an parameter.
I am using SubscribePersistentSubscriptionOptions to create a persistence subscription but getting the error message "UNAVAILABLE: Network closed for unknown reason"

[2021-04-24 12:51] johanhaleby opened #69 "Events are inserted twice even though they have the same id"
I'm finding some surprising behavior that I suspect is a bug. In the [documentation](https://developers.eventstore.com/clients/grpc/appending-events/#eventid) of eventId it says:

But if I just write a simple snippet like this:

[code]

Then it'll print `### 2` (i.e. two events were appended)

If I change it to:

[code]

Then it'll print `### 1` (i.e. one event was appended).

In my world, these t

[2021-04-24 13:06] johanhaleby opened #70 "Improve working with a large set of events"
Hi again :)

From what I understand when reading the [documentation](https://developers.eventstore.com/clients/grpc/reading-events/reading-from-the-all-stream.html#reading-forwards), reading from the "$all" stream returns a `List<ResolvedEvent>`. But returning all events in the entire eventstore as a List would be highly inefficient and will most likely lead to OOM. The same docs says "This will r

[2021-04-26 07:44] YoEight commented on #68
Hi @captainhorsepower, this is definitely something we should add. I'm looking into adding snapshot on Maven Central.

[2021-04-26 07:56] YoEight commented on #70
It is not the case in Java indeed. All other clients have async streams/iterators though. Do you have any suggestion? The only solution I see is to use a callback instead (like we did when consuming a subscription).

[2021-04-26 08:04] YoEight commented on #63
We have no plan on providing a Scala client. However, we could accommodate the Java client to ease integration in a Scala codebase. What needs to be done to achieve that?

[2021-04-26 10:00] #69 closed, assigned to nobody

[2021-04-26 10:02] YoEight commented on #67
A patch is now available on master.

[2021-04-26 10:03] YoEight commented on #67
Thanks @huyhoangepay and @dhirajkumar94 for your investigations!

[2021-04-26 10:03] #67 closed, assigned to nobody

[2021-04-26 11:51] johanhaleby commented on #70
@YoEight The best way I know of for working with streams of data would be to expose something like a [reactive streams](https://www.reactive-streams.org/) compatible API (for example [projectreactor](https://projectreactor.io/)). But this is probably non-idiomatic for most Java devs and it would influence the entire API. So another option might be to either change the result of `result.getEvents()

[2021-04-26 16:30] YoEight commented on #68
I published today's trunk snapshot branch on Maven Central, I don't know how long it takes for the rest of the world to see that version available (version is `1.0.1-SNAPSHOT`. When pushing a 'real' release, it usually takes 2-3 hours.

[2021-04-26 18:33] captainhorsepower commented on #68
Thank you, @YoEight. Will let you know once I can access. BTW, are you going publish this snapshot builds automatically with every merged pull-request or manually / on demand?

[2021-04-26 20:58] YoEight commented on #68
It will be set automatically when merging on the main branch. See the pending PR #72

[2021-04-27 09:23] captainhorsepower commented on #68
Still can't see that on maven-central, nor find with gradle.  Is there a dedicated 'snaphsts repo'?

![Screen Shot 2021-04-27 at 12 21 32 PM](https://user-images.githubusercontent.com/35666863/116218559-511e5a80-a753-11eb-967b-bdea3873a1cd.png)

[2021-04-27 09:28] YoEight commented on #68
I see those snapshots there: https://oss.sonatype.org/content/repositories/snapshots/com/eventstore/db-client-java/

[2021-04-27 10:37] captainhorsepower commented on #68
Nice, I've configured repositories and now it works perfectly!

[code]

Gradle dynamic version also works: `api 'com.eventstore:db-client-java:1.0.+'` resolved to `com.eventstore:db-client-java:1.0.2-SNAPSHOT`

[2021-04-27 16:44] YoEight commented on #69
The patch is available on the latest snapshot version of the client if you are interested: https://github.com/EventStore/EventStoreDB-Client-Java/issues/68#issuecomment-827502978

[2021-04-27 16:44] YoEight commented on #67
The patch is available on the latest snapshot version of the client if you are interested: https://github.com/EventStore/EventStoreDB-Client-Java/issues/68#issuecomment-827502978

[2021-04-27 22:32] jselamy opened #73 "OptionsBase with UserCredentials"
Hi,

I wanted to know

- why for all the operations `com.eventstore.dbclient.OptionsBase` we need to provide the `com.eventstore.dbclient.OptionsBase#authenticated` with `com.eventstore.dbclient.UserCredentials`. In the case that it is provided in the `com.eventstore.dbclient.EventStoreDBClientSettings` using `com.eventstore.dbclient.EventStoreDBConnectionString#parseOrThrow` or `com.eventstore.db

[2021-04-27 22:38] YoEight commented on #73
You don't have to do that. What makes you think otherwise?

[2021-04-27 23:25] jselamy commented on #73
Thanks for the quick response.

This is why i'm saying that i have this connection-string -> `esdb://admin:changeit@localhost:2111,localhost:2112,localhost:2113?tls=true&tlsVerifyCert=false&nodePreference=LEADER`

Appending event on a stream with no ACL works (haven't gone for as testing with ACL's)
Creating a PersistentSubscription on for a specific stream is not working with implicitly passing p

[2021-04-27 23:51] YoEight commented on #73
It's a bug that has been fixed by #71. A snapshot version is available on Sonatype

https://github.com/EventStore/EventStoreDB-Client-Java/issues/68#issuecomment-827502978

[2021-04-28 13:12] jselamy commented on #67
I will check it out shortly

[2021-04-28 13:14] jselamy opened #74 "Stream Metadata"
Is there a way in this java client to have Operations on the Metadata of a stream ?

- ACL's
- etc

[2021-04-28 13:30] YoEight commented on #74
There is no dedicated operation for reading/writing stream's metadata. Under the hood, it's a regular `readStream`/`appendStream`. The main difference is about reading a stream metadata's stream `$$your_stream_name`. The Java client doesn't have a first class support for reading/writing metadata yet but you can do it on your application codebase to unblock you if it's urgent: https://developers.ev

[2021-04-28 13:33] jselamy commented on #74
can you show me a simple example on how to proceed ?

Or i would have to use the HTTP Api to perform such action for now ?

[2021-04-28 13:47] YoEight commented on #74
No need to use HTTP, use the Java gRPC client `readStream`/`appendStream` functions. The stream name would be `$$your_stream_name` and the event's type when appending metadata in the stream metadata's stream is `$metadata`. I might have some time to implement the feature properly within the next 2 weeks.

[2021-04-28 14:53] jselamy commented on #73
@YoEight  can you point me to that Sonatype of yours ?

[2021-04-29 08:17] #68 closed, assigned to nobody

[2021-04-29 08:52] dhirajkumar94 commented on #68
@YoEight I can't find com.eventstore:db-client-java:1.0.2-SNAPSHOT in maven repository

[2021-04-29 08:54] dhirajkumar94 commented on #67
@YoEight I can't find the latest snapshot on maven

[2021-04-29 08:55] captainhorsepower commented on #68
@dhirajkumar94 you need to add sonatype snapshots  to repositories in your `build.gradle` (or plugin) / `pom.xml`

[2021-04-29 14:02] YoEight commented on #68
@dhirajkumar94 there is a section in the README file that explains how to do it: https://github.com/EventStore/EventStoreDB-Client-Java#snapshot-versions

[2021-04-30 06:49] daMupfel commented on #70
I would be in favor of a reactive approach. Since GRPC already exposes its API in a reactive fashion (maybe at some point we get something like async/await for java). That seems to be what bigger frameworks are choosing as well (as mentioned above).

I don't know of a way to use java "Stream"s in an async/lazy fashion. I don't think that is natively supported.

[2021-04-30 08:05] johanhaleby commented on #70
@daMupfel I mean, that it's possible to e.g. add values to a Stream from a different thread. For example, if you query for all events, `Stream<ResolvedEvent> stream = results.getEvents()`, then you could have the actual query happen in another thread that loads batches of data from the datastore. This data could then be appended to the stream as it arrives.

Another, probably better option, that I

[2021-04-30 08:34] daMupfel commented on #70
True, that would probably work. Then the actual loading would happen somewhere else. But this still doesn't sound async to me, no? It does however solve the issue of not loading all documents at once (lazy). I think we are talking about slightly different things/use cases (nonblocking vs lazy batch loading) :).

I mean the thread who is resolving the Stream (like using forEach) will still block. T

[2021-04-30 09:08] johanhaleby commented on #70
@daMupfel No there's no scheduler for Stream, you would have to spin off threads yourself. But you should probably ignore all that, my latest proposal is much better :)

[2021-04-30 09:12] johanhaleby commented on #70
Having said that, using reactive streams would be much better since it also includes prefetch so that data is available (buffered) before you've completed a "page". With the streams approach, once the client has completed a single page, a new call would have to made to the DB, which will lead to the thread blocking and just sleeping waiting for IO. This will probably be improved with new JVM's tho

[2021-05-04 07:08] YoEight commented on #73
You can found the instruction in our READM.md file: https://github.com/EventStore/EventStoreDB-Client-Java#snapshot-versions

[2021-05-06 05:12] daMupfel opened #75 "nextExpectedVersion & actualVersion weird when appending to empty stream"
While using the client i found some weird corner cases that around appendToSTream when used on an empty stream.

Basically it does not seem to be possible based on the return message to identify that the stream was empty.

There are basically two different cases.

1. When appending an "empty" iterable on an empty stream:

[code]

2. When appending an event and provide an expected version on an emp

[2021-05-11 07:15] #73 closed, assigned to nobody

[2021-05-19 18:07] #74 closed, assigned to nobody

[2021-05-19 18:48] YoEight commented on #74
@jselamy It you want to try it out, our latest snapshot version is available on Sonatype. See: https://github.com/EventStore/EventStoreDB-Client-Java#snapshot-versions

[2021-05-19 19:02] #5 closed

[2021-06-02 08:17] #54 closed, assigned to nobody

[2021-06-02 11:29] YoEight commented on #75
On hold, as we are reviewing an RFC on this very subject.

[2021-06-13 04:48] huyhoangepay opened #80 "What to do when onError and onCancelled happens"
We have a persistent subscription. Every once in a while the `PersistentSubscriptionListener` gets disconnected from the server. Log:
[code]
I have a couple of question:
* Is there any reason why the connection gets dropped?
* What should we do in this scenario? Do we need to manually re-subscribe to the server?

[2021-06-14 20:30] YoEight commented on #80
It's a classic case of gRPC closing the connection because of inactivity. It's the gRPC built-in heartbeat protocol in action. The client allows you to configure this behaviour through two parameters:

`keepAliveInterval`:  How long the connection should wait if no message is coming through before asking for a heartbeat. (10s by default)
`keepAliveTimeout`: How long the connection should wait with

[2021-06-22 06:50] huyhoangepay commented on #80
@YoEight thanks for the response.
Is there any sample code for how we should re-subscribe?
What I'm not sure about is:
* Do we re-subscribe in `onError` or `onCancelled`?
* If `onError`, what is the `Throwable` we should catch to re-subscribe?

[2021-06-23 05:06] huyhoangepay opened #81 "Error when creating persistent subscription on cloud cluster"
Hi, we're using ES cloud with a 3-node cluster.
The connection string is the DNS with discovery `esdb+discover://`
When we try to call `EventStoreDBPersistentSubscriptionsClient.create()` we get this error.
[code]
I tried doing the same thing with the .NET Grpc client and this error did NOT occur.
Also, we have 2 clusters and this error only happens with one of them (the code used is the same).
If

[2021-06-24 20:29] YoEight commented on #80
I don't know, it depends on the application. Based on my own experience, I rather have an application that consumes a persistent subscription to die in case of any exception. I would let the application manager restarting that app for me.

The `Throwable` instance would be the exception that caused the subscription to terminate. Should you re-subscribe here? I personally won't but doing that won't

[2021-06-24 21:53] YoEight commented on #81
It seems you didn't connect to the leader of your cluster when you try to connect. If you retry right away when it happens, it should work as the client already connected to the provided leader node. In your connection string, do you have `nodePreference=leader` ? If not, having that setting will prevent having that exception in the first place when interacting with persistent subscriptions.

[2021-06-28 12:37] shaan1337 opened #83 "nodePreference seems to always connect to the same node"
I've noticed the following behaviour with nodePreference:

`nodePreference=follower` - seems to always connect to the same follower node instead of randomly choosing one among them (stopping and starting the client makes it connect to the same node every time)
`nodePreference=random` - seems to always connect to the same node (among all nodes that are currently alive)
`nodePreference=leader` - wor

[2021-08-04 08:47] pvanbuijtene opened #86 "Remove deprecated methods and classes for `3.*`"
Some deprecated classes/methods were introduced in https://github.com/EventStore/EventStoreDB-Client-Java/pull/84, these can be removed from mayor release `3.*`

[2021-08-04 08:53] pvanbuijtene opened #87 "Improve code coverage for persistent subscriptions"
Improve the code coverage for persistent subscriptions as discussed here https://github.com/EventStore/EventStoreDB-Client-Java/pull/84#discussion_r678097313

[2021-08-04 08:56] pvanbuijtene opened #88 "Support `PinnedByCorrelation` strategy for persistent subscriptions"
Support `PinnedByCorrelation` strategy for persistent subscriptions as discussed here https://github.com/EventStore/EventStoreDB-Client-Java/pull/84#discussion_r678078940

[2021-08-06 15:32] tambeau opened #89 "Java gRPC Client Connectivity Compliance - Minimum Viable Tier"
Connectivity:
Covered by RFC [Home#574](https://github.com/EventStore/home/issues/574):

- [x] Cluster connection with NodePreferences Leader, Follower, Random, ReadOnlyReplica
- [x] Use NodePreference Leader as default
- [x] Reconnection after the loss of a node
- [x] Fully supported connection string, with sensible warnings where some settings don't make sense
- [x] Ability to set RequiresLeader

[2021-08-06 15:36] tambeau opened #90 "Java gRPC Client Streams API Compliance - Minimum Viable Tier"
Streams API:
This should eventually be defined in RFC [Home#551](https://github.com/EventStore/home/issues/551):

- [x] AppendToStream
  - [x] Append
- [ ] **Delete** - `Delete` should not take an option for `isSoftDelete`
- [ ] **Tombstone** - A `Tombstone` operation should be added, and the ability to tombstone a stream in `Delete` should be removed
- [x] ReadAll
- [x] ReadStream
- [x] Subscribe

[2021-08-06 15:37] tambeau opened #91 "Java gRPC Client Persistent Subscriptions API Compliance - Minimum Viable Tier"
Persistent Subscriptions API:
As defined in RFC [Home#550](https://github.com/EventStore/home/issues/550):

- [x] CreateToStream (Named `CreatePersistentSubscription`)
- [x] CreateToAll (Named `CreatePersistentSubscriptionToAll`)
- [x] Update (Named `UpdatePersistentSubscription`)
- [x] UpdateToAll (Named `UpdatePersistentSubscriptionToAll`)
- [x] Delete (Named `DeletePersistentSubscription`)
- [x

[2021-08-06 15:39] tambeau opened #92 "Java gRPC Client Change Log Compliance - Minimum Viable Tier"
We should automate changelog updates similarly to how they are automated in the EventStore repo.
- [ ] [PR Check](https://github.com/EventStore/EventStore/blob/master/.github/workflows/pull-request-check.yml) has been added
- [ ] Automated changelog updates based on PRs

[2021-08-06 15:41] tambeau opened #93 "Java gRPC Client Documentation - Minimum Viable Tier"
Samples for documentation:

- [x] Connecting to EventStoreDB
- [x] Appending Events
  - [x] Working with EventData
  - [x] Handling concurrency
  - [x] User Credentials
- [x] Reading Events
  - [x] Reading from a stream
  - [x] Reading from the $all stream
- [x] Subscribing to streams
  - [x] Subscription basics
  - [x] Server-side filtering
  - [x] Persistent Subscriptions

[2021-08-13 12:52] alexandre-touret opened #94 "Support of JAVA 11+"
Hello,
I just tried to run a simple use case using your JAVA API

`implementation 'com.eventstore:db-client-java:0.5'`

I tried this simple code based on your documentation

[code]

Unfortunately, it seems that your library doesn't support JAVA 11 and modularity

[code]

It could be nice if your JAVA client fully supported JAVA 11+ versions.

I'm available for more information if needed.

Regards

[2021-08-13 13:20] YoEight commented on #94
Hi there and thanks for reaching out!

You are using a very old version of the client. The latest release version is `1.0.0` and is from February 2021. We got an even more recent version if you use the latest snapshot version (instructions are in the README).

About supporting Java 11 itself. We took the decision to supports Java 8 at the minimum. Upping the base version to 11 would require some d

[2021-08-13 14:49] alexandre-touret commented on #94
Hello,
Sorry for the inconvenience.
I took the library described in [the documentation](https://developers.eventstore.com/clients/grpc/reading-events/reading-from-a-stream.html#reading-forwards).

After reading the logs, I understand that it's a netty issue.

[code]

Perhaps, after upgrading the java client, this issue will be over.

[2021-08-25 09:48] chrispoulsen opened #95 "No support for readStreamAsync ??"
For some reason it seems like the Java client always wants to realize all events in a List before returning.

The [docs](https://developers.eventstore.com/clients/grpc/reading-events/reading-from-a-stream.html#checking-for-stream-presence) are also way off, as they talk about some `ReadStreamResult` which obviously makes no sense if the method returns a List

[2021-08-25 13:45] YoEight commented on #95
There is a PR on this subject #79

The reason the PR hasn't been merged yet is we want to be sure it is the right approach. There's a discussion in this PR thread. Would mind sharing what you would like to have there?

Thanks for your time!

[2021-09-06 14:25] YoEight opened #100 "Improve subscription error handling test coverage."
Context: https://github.com/EventStore/EventStoreDB-Client-Java/pull/99#pullrequestreview-746193727

[2021-09-08 17:49] dpasek-senacor commented on #83
@shaan1337 Yes, this is a problem in the node selection algorithm. I have prepared an PR for this.

[2021-09-09 06:37] #80 closed, assigned to nobody

[2021-09-09 06:37] #63 closed, assigned to nobody

[2021-09-09 06:38] #81 closed, assigned to nobody

[2021-09-15 11:15] #83 closed, assigned to nobody

[2021-10-28 11:17] YoEight opened #108 "Update gRPC library version."
We have to make sure that we maintain a Java 8 compatibility.

[2021-10-31 03:07] phongnguyen-monex commented on #81
Adding nodePreference=leader resolved our issues. Thanks

[2021-11-02 12:07] daMupfel commented on #75
Are there any news on this? We are currently waiting on a few of the open issues in order to migrate to a newer eventstore version (the other client is currently not an option for us).

[2021-11-02 17:05] YoEight opened #110 "Test Java client on node election stress tests."
Approving it to unblock the client, but tests around that should be tackled as a separate issue.

_Originally posted by @oskardudycz in https://github.com/EventStore/EventStoreDB-Client-Java/pull/107#pullrequestreview-795319889_

[2021-11-08 15:42] tambeau opened #112 "Java RFC - 021 Projections API Control Operations Implementation"
@tambeau commented on [Fri Nov 05 2021](https://github.com/EventStore/home/issues/657)

Implementation of Control Operations for Java gRPC Projections API

Control
- [x] Restart Projections Subsystem
- [x] Abort (Name) - WriteCheckpoint set to false
- [x] Disable (Name) - WriteCheckpoint set to true
- [x] Enable (Name)
- [x] Reset (Name) - Remove WriteCheckpoint
- [x] Delete (Name, DeleteStateStre

[2021-11-08 16:44] tambeau opened #113 "Java RFC - 021 Projections API Create Operation Implementation"
@tambeau commented on [Fri Nov 05 2021](https://github.com/EventStore/home/issues/656)

Implementation of Create Operation for Java gRPC Projections API

Create
- [x] Create Projection (Name, Query, EmitEnabled, TrackEmittedStreams) - Enabled parameter remove always set to false

[2021-11-08 17:00] tambeau opened #114 "Java RFC - 021 Projections API State Operations Implementation"
@tambeau commented on [Fri Nov 05 2021](https://github.com/EventStore/home/issues/655)

Implementation of State Operations for Java gRPC Projections API

State
- [ ] Get Query (Name, Config?)
- [ ] Get Config (Name)
- [x] Get Status (Name)
- [x] Get State (Name, Partition)
- [x] Get Result (Name)

[2021-11-08 17:01] tambeau opened #115 "Java RFC - 021 Projections API Statistics Operations Implementation"
@tambeau commented on [Fri Nov 05 2021](https://github.com/EventStore/home/issues/654)

Implementation of Statistics Operations for Java gRPC Projections API

Statistics
- [x] Get Statistics (name)
- [x] List All
- [ ] List

[2021-11-08 17:06] tambeau opened #116 "Java RFC - 021 Projections API Update Operations Implementation"
@tambeau commented on [Fri Nov 05 2021](https://github.com/EventStore/home/issues/653)

Implementation of Update Operations for Java gRPC Projections API

Update
- [x] Projection (Name, Query, EmitEnabled)
- [ ] Config (Name, Config)

[2021-11-10 14:21] dpasek-senacor commented on #70
@johanhaleby We have now added a new PR in regard of supporting reative streams please take a look. Thoughts and feedback are welcome:
https://github.com/EventStore/EventStoreDB-Client-Java/pull/106

[2021-11-10 14:25] dpasek-senacor commented on #95
@chrispoulsen See new PR on streaming of large event sets. Feedback/thoughts welcome.

#106

[2021-11-30 07:24] dennisschroeder opened #117 "Feature Request: Inject object mapper in settings"
Hey, it would be great if one could inject an own instance of the object mapper with custom mapper configuration.

[2021-11-30 10:35] linde9821 commented on #112
Hi :) Any updates regarding the progress of projection management with the java client?

[2021-11-30 11:08] pvanbuijtene commented on #113
Already implemented, will keep as-is for now to prevent breaking changes.

- [x] Remove creation of `Transient` and `OneTime` projections
- [x] Set the defaults for `EmitEnabled` and `TrackEmittedStreams` to false
- [x] Rename `createContinuous` to `createProjection`
- [ ] Add `EmitEnabled` to create, currently not in proto yet

[2021-11-30 11:10] pvanbuijtene commented on #112
@linde9821 I'm currently looking into it, so should be implemented not too long from now.

[2021-11-30 15:14] YoEight commented on #117
Defininately!

[2021-12-01 21:35] pvanbuijtene commented on #116
Update config is not available yet.

[2021-12-02 09:31] pvanbuijtene commented on #114
Still to do:
- [x] Get Result (Name, Partition)

[2021-12-02 12:10] pvanbuijtene commented on #115
Not sure why there are to `List`s mentioned, there's only 1 in the RFC.

[2021-12-02 16:05] TomMante opened #119 "PersistentSubscriptionListener onCancelled should have additional parameter to pass a "Cause""
I am currently working on persistent subscription, and I had an issue where when I was processing all the events in a persistent subscription, I had an exception while processing an event.

I am not receiving this exception, because the library is receiving a StatusRuntimeException with status "CANCELLED", but the cause of that StatusRuntimeException was my underlying exception (In my case it was

[2021-12-09 14:11] #112 closed, assigned to pvanbuijtene

[2021-12-09 14:11] #113 closed, assigned to pvanbuijtene

[2021-12-09 14:11] #114 closed, assigned to nobody

[2021-12-09 14:11] #115 closed, assigned to nobody

[2021-12-09 14:11] #116 closed, assigned to nobody

[2021-12-13 10:19] YoEight opened #121 "Log4Shell vulnerability checks"

[2021-12-13 10:56] YoEight commented on #121
We run [Grype] on both the source code and the latest Jar and the result is the Java gPRC client is not exposed to Log4Shell. We also doubled-checked that we don't even have a dependency to `log4j`, even transitively.

[Grype]: https://github.com/anchore/grype

[2021-12-13 13:27] jageall commented on #121
thanks @YoEight , closing this but it should answer any questions people have about it

[2021-12-13 13:27] #121 closed, assigned to nobody

[2021-12-28 15:13] tambeau opened #124 "Implementation of State Operations for Java gRPC Projections API"
Implementation of State Operations for Java gRPC Projections API

State
- [ ] Get Query (Name, Config?) **blocked - Server Update Required**
- [ ] Get Config (Name) **blocked - Server Update Required**
- [ ] Get Status (Name) **blocked - Server Update Required**
- [ ] Get State (Name, Partition)  **missing partition option**
- [ ] Get Result (Name, Partition) **blocked**

[2022-01-13 10:38] #93 closed, assigned to YoEight

[2022-01-13 17:36] tambeau commented on #89
Updated RFC reference to [Home#574](https://github.com/EventStore/home/issues/574): [RFC] Connectivity in gRCP clients #30

[2022-01-13 17:42] #89 closed, assigned to YoEight

[2022-01-18 11:25] rohsin47 opened #128 "Maximum Append Size of 1048576 Exceeded"
Hi,

We have been receiving below exception on appending to stream now. From docs i can see, events size that can be appended to stream is approx 16 MB. But from below exception, it looks like we cannot append more than 1 MB. Is there a buffer limit on streaming to event store?

_java.util.concurrent.ExecutionException: io.grpc.StatusRuntimeException: INVALID_ARGUMENT: Maximum Append Size of 10485

[2022-01-18 13:32] YoEight commented on #70
Done by https://github.com/EventStore/EventStoreDB-Client-Java/pull/106

[2022-01-18 13:32] #70 closed, assigned to nobody

[2022-01-18 22:59] YoEight commented on #128
Hey @rohsin47, and thanks for reporting this. I wasn't aware of that default limitation with the Java gRPC implementation. We can definitely use the `maxInboundMessageSize` internally. Expect a patch landing this week.

By the way, version 2.0.0 of the java client is available on Maven Central!

[2022-01-19 16:50] ahjohannessen commented on #128
@YoEight Seems like that error is from https://github.com/EventStore/EventStore/blob/3108c3d26e753770778af04f1916b104105261ed/src/EventStore.Core/Services/Transport/Grpc/RpcExceptions.cs#L87

[2022-01-19 16:56] YoEight commented on #128
@ahjohannessen You are the MVP! I was looking at the wrong location. Let's fix this 💪

[2022-01-19 17:00] ahjohannessen commented on #128
I think there is a server setting, MaxAppendSize, for this?

[2022-01-19 17:05] YoEight commented on #128
There is. @rohsin47 any chance you changed that value without knowing?

[2022-01-19 17:10] ahjohannessen commented on #128
I think the default value is 1MB, which is 1048576 bytes

[2022-01-20 15:37] YoEight commented on #128
@rohsin47 After conducting some research, this change has been going on since 20.6. The DB still allows an event with a payload as large as 16MB but you still have to compose with the max append size too. You can obviously increase that value on your own.

A bit of history: https://discuss.eventstore.com/t/how-to-change-max-append-size/2810/3

@ahjohannessen Yeah, I totally forgot about that setti

[2022-01-20 15:37] #128 closed, assigned to YoEight

[2022-01-24 12:43] YoEight opened #130 "Apply Deadlines RFC"
Reference: https://github.com/EventStore/architecture-and-planning/pull/52

[2022-01-25 16:25] tambeau opened #131 "Standardize Java gRPC client deadlines"
Standardize deadlines across clients

- [x] Use defaultDeadline as a global setting and deadline as an operation-level setting
- [x] Return a DeadlineExceeded error in all gRPC clients
- [x] Set reads & subscriptions timeouts to infinity
- [x] Specifying deadlines on each operation
- [x] Default deadline is for non-streaming operations (writes, management operations) - should be set 10 seconds for

[2022-01-25 16:40] tambeau opened #132 "Java gRPC client HTTP Shim for persistent subscriptions"
Standardize HTTP Shim across clients

For Persistent Subscription we'll use for now HTTP API then switch to server capabilities when it's available
fully on the database.

We'll need to have a fallback for HTTP API if the database version is below 21.10.1.

[2022-02-03 09:54] hayley-jean opened #134 "Increase max receive message length to match the max event size in EventStoreDB"
EventStoreDB allows events up to 16mb in size so the gRPC clients need to be able to read events this large.

Set the `grpc.max_receive_message_length` to 17mb.

[2022-02-08 12:49] #91 closed, assigned to nobody

[2022-02-15 09:44] hayley-jean opened #135 "Ensure rediscovery is not run when the server returns a timeout"
Rediscovery should not be run when the client receives a `StatusCode` 10 (`ABORTED`) response.
Instead, the consumer should retry the failed operation on the same connection.

[2022-02-21 06:20] rmfaheem opened #136 "Add jackson-datatype-jsr310 module for date serialization"
The db-client-java 2.0.0 is not able to serialize/deserialize jsr310 date types (e.g. the java.time.OffsetDateTime). This can be easily fixed by adding the module jackson-datatype-jsr310 to the jackson used by the db-client-java.

support ticket: 110173

[2022-02-22 15:31] tambeau commented on #130
Looks like Dotnet, NodeJS and Go are done.

[2022-02-25 15:57] lakshdeepsingheventstore opened #137 "Getting NullPointerException while setting stream metadata from the Java Client latest version"
The client code crashes when using EventStoreDB Java Client latest version (v2..2.0) to set stream metadata. The same code works perfectly fine when using EventStoreDB Java Client v2.0.0.

[2022-02-26 07:07] dhirajkumar94 commented on #137
@lakshdeepsingheventstore Don't you mean it crashes using version 1.1.1-SNAPSHOT?

[2022-02-26 20:17] YoEight commented on #137
I need more information on this. What version are they specifically using? If the code is working on version 2.0.0, considering it's the current release version, where is the problem?

[2022-02-27 04:30] dhirajkumar94 commented on #137
@YoEight As per my test results, the code throws NullPointerException while using Java client version 1.1.1-SNAPSHOT, and it's working when I upgraded it to 2.0.0.

[2022-03-04 13:44] #132 closed, assigned to YoEight

[2022-03-16 09:37] andersflemmen opened #140 "Handling connection shutdown"
Hi,

When shutting down one of our cluster nodes for maintenance, the client failed to discover a new node to connect to, which caused it to go into the shutdown state. As far as I can tell, this just happens behind the scenes, and you will not notice until you try to perform another operation with the client, which will then cause a ConnectionShutdownException to be thrown.

Any ideas on how to h

[2022-03-16 10:19] YoEight commented on #140
Hi there,

The client is actually doing reconnection already. What I'm suspecting out of the little information you shared here is discovery happened a few times already,  failed every time leading the client to just give up. A solution could be to increase your `maxDiscoverAttempts` and `discoveryInterval` to fit your business requirement.

[2022-03-16 13:30] andersflemmen commented on #140
Thanks for the quick response!

So when you say reconnection, are you thinking of these?
[code]

[2022-03-17 07:10] YoEight commented on #140
Yes

[2022-03-17 07:25] andersflemmen commented on #140
Increasing the number of attempts and the interval will solve this in most cases, but there is still a possibility that the client might end up "dead", and you won't notice until the next read or write. Feels like this could be handled cleaner by the client, but I guess this solution will do for now.

[2022-03-17 10:06] YoEight commented on #140
To be honest, I fail to see how it can be resolved differently. I'm open to suggestions though. The nature of gRPC makes it difficult to know if the connection is down when the channel is not used. An ESDB client can be shared among several threads. If there were a callback of some sort that would notify you that the connection is closed (not down because internally, reconnections do happen), what

[2022-03-17 11:04] andersflemmen commented on #140
As far as I can tell, when the GrpcClient sets the shutdown flag, it will never be able to recover, meaning that the client instance can never be used again? With a callback, the application using the client could handle this as they please, whether that is to trigger a restart, create a new client, or something else.

[2022-03-18 07:23] YoEight commented on #140
Personally, I think using a [Let It Crash] approach is better in this case. If you use an esdb client in different threads, creating a new client without restarting your application from scratch would be hard. A `ConnectionShutdownException` is a fatal error/ finalstate, hence why there is no means to recover from it.

[Let It Crash]: https://rafaelantunes.com.br/understanding-the-let-it-crash-phi

[2022-03-18 10:56] andersflemmen commented on #140
Yep, I agree! I keep repeating myself, but I still think the client should let you know it is dead before you try to use it the next time, which for example may cause an external HTTP request to fail. Guess we'll solve it using a periodic health check.

[2022-03-18 10:56] #140 closed, assigned to nobody

[2022-03-23 19:52] YoEight commented on #108
Done

[2022-03-23 19:52] #108 closed, assigned to nobody

[2022-03-23 19:52] #137 closed, assigned to nobody

[2022-03-23 19:53] YoEight commented on #87
Done.

[2022-03-23 19:53] #87 closed, assigned to nobody

[2022-05-01 08:48] michael-schnell commented on #12
This is really a severe issue for everyone who wants to use the Java client API. Any idea when this will be solved?

[2022-05-11 14:23] YoEight commented on #12
@michael-schnell Here's what the javadoc looks like:

https://eventstore.github.io/EventStoreDB-Client-Java

 Mind you it's based on the `docs` branch. When the PR merged, the javadoc will update itself on every release.

[2022-05-14 07:30] michael-schnell commented on #12
Looks great!

[2022-05-28 07:48] michael-schnell opened #148 "Options should be immutable & use builder pattern."
It's a good style in Java to keep classes immutable if possible. This prevents accidential changes and makes them thread safe by design.

The "Options" classes like "DeleteStreamOptions" are currently mutable, which is kind of unexpected. It looks like a builder, but mutates the content of the instance:

[code]

I would suggest to create a real builder that returns an immutable instance.

Here is

[2022-05-28 08:13] michael-schnell opened #149 "Reading a deleted stream should throw a StreamDeletedException with boolean flag soft/hard"
Currently hard deleting a stream and reading/writing/deleting from it afterwards results in a "FAILED_PRECONDITION":
`io.grpc.StatusRuntimeException: FAILED_PRECONDITION: Event stream 'accounts' is deleted.`

It would be nice to have a dedicated exception for that condition:
`com.eventstore.dbclient.StreamDeletedException`

The FAILED_PRECONDITION is very generic and requires parsing the error mes

[2022-05-28 08:17] michael-schnell commented on #75
Any progress here?

[2022-05-28 12:55] michael-schnell opened #150 "Several classes miss a "toString()" method"
While debugging or logging it's helpful to have a visual representation of the instance.

A class like "DeleteResult" for example currently has no "toString()" method.

It could look like this:

[code]

[2022-06-06 09:53] dpasek-senacor opened #151 "Retrieval of server features breaks connection retry"
*Affected version*: 3.0

*Steps to reproduce*: Use a single node configuration to an event store server which is down or starting up.

*Expected behavior*: The client performs a retry of connecting to the server until a connection is established or the number of retries configured for the client is reached.
*Observed behavior*: The client does not perform a retry on creating a connection to the se

[2022-06-09 11:57] dpasek-senacor opened #153 "Shutdown request blocks if connection attempts fail"
The call to `GrpcClient.shutdown()` blocks indefinitely if the client has failed to connect to the EventStoreDB.

*Flow:*
- Create `EventStoreDBClient` instance.
- Try to connect to a EventStoreDB server which is not available.
- Issue an shutdown requests to the `EventStoreDBClient`.

*Expected behavior:*
- Shutdown request finishes.

*Observed behavior:*
- Shutdown request blocks indefinitely

T

[2022-06-09 12:30] dpasek-senacor commented on #153
Hier is a test case for the dead lock:
[code]

[2022-06-09 16:20] dpasek-senacor commented on #153
This solution works, but still has the issue that the shutdown request only completes after all reconnection attempts. Currently it is not possible to cancelling the connection attempts by calling `shutdown()` on the client. The `Shutdown` message will be queued inside the message loop after the `CreateChannel` message, which performs the reconnect attempts.

This issue should not be part of this

[2022-06-13 11:55] dpasek-senacor opened #155 "Improvement: Shutdown of client should not be blocked by pending connection attempts"
Currently the shutdown of a `EventStoreDBClient` is blocked until all connection attempts have been completed.

It would be better if the shutdown of the client will abort the running connection attempts.

The problem is located in the `GrpcClient` class in the `dicover` method:
[code]
The current implementation will loop all connecton attempts before allowing the client to process other messages

[2022-06-24 12:01] Lougarou opened #157 "RequiresLeader seems to be set to False by default"
This should set to True by default to be in line with the other clients.

[2022-06-25 02:02] YoEight commented on #157
According to the RFC, `RequiresLeader` header should be set to true if node preference is set to `Leader`: https://github.com/EventStore/architecture-and-planning/blob/main/rfcs/574-connectivity-in-grpc-clients.md#requiresleader-header

[2022-06-27 13:21] #157 closed, assigned to nobody

[2022-07-06 16:00] nhajratw opened #159 "Improve Kotlin support"
Usage of Kotlin data classes for domain objects is very desirable as it provides immutability, etc.

Currently data classes cannot be used because the jackson deserialization process requires an empty default constructor.

The [jackson-module-kotlin](https://github.com/FasterXML/jackson-module-kotlin) library provides just the hooks needed in order to get this working. It should just be a matter o

[2022-07-07 13:43] #12 closed

[2022-07-08 21:16] dpasek-senacor commented on #153
Works fine now. Issue has been fixed.

[2022-07-08 21:16] #153 closed, assigned to nobody

[2022-07-08 21:17] dpasek-senacor commented on #151
Works fine now. Issue has been fixed.

[2022-07-08 21:17] #151 closed, assigned to nobody

[2022-07-08 21:30] dpasek-senacor opened #161 "Shutdown does not abort running subscriptions or long running streaming operations"
When you call `shutdown()` on any of the client classes, e.g. the `EventStoreDBClient`, the client will not shutdown if there are long running streaming operations or running subscriptions.

The reason for this behavior is that the underlying GrpcClient calls shutdown on the gRPC `ManagedChannel` which will only send a disconnection message to the server and will no longer accept new calls but wil

[2022-07-08 21:50] dpasek-senacor commented on #161
PR opened: https://github.com/EventStore/EventStoreDB-Client-Java/pull/162

[2022-07-11 08:11] dpasek-senacor opened #163 "Reconnect attempts cause gRPC ManagedChannels to be orphaned"
The reconnection attempts of the `GrpcClient` will orphan the previously created `ManagedChannel` when creating the new channel. This will cause exception logs like:
[code]
The gRPC implementation tracks channel creation internally by the `ManagedChannelOrphanWrapper` and will log this error if a channel instance is garbage collected without being properly shutdown beforehand.
This actually will n

[2022-07-11 08:21] dpasek-senacor commented on #163
PR available:
https://github.com/EventStore/EventStoreDB-Client-Java/pull/164

[2022-07-26 22:19] guiwoda-inviu opened #166 "eventType: "$>" when subscribing to projections"
Using `EventStoreDBPersistentSubscriptionsClient#subscribe` or `EventStoreDBClient#subscribeToStream` pointing to an event type projection (`$et-com.example.SomeEvent`) is rendering the following result.

[code]

Any ideas?

[2022-07-26 23:51] YoEight commented on #166
You need to enable link resolution when reading events emitted by projections: https://developers.eventstore.com/clients/grpc/reading-events.html#resolvelinktos

May I advise you to reach out on [Discuss] first? We prefer to restrict Github for confirmed issues.

[Discuss]: https://discuss.eventstore.com/

[2022-07-28 01:40] #166 closed, assigned to nobody

[2022-07-28 07:48] dpasek-senacor opened #167 "Provide method for preemptively checking if client is still running or has been shutdown"
Currently the different client instances like `EventStoreDBClient` or `EventStoreDBProjectionManagementClient` will automatically shutdown if they are not able to establish a connection to the Event Store, the download of the server features fails fatally or after a manual shutdown.
The client does not support a way for a user of a client instance to determine if the client has been shutdown or is

[2022-07-28 08:05] dpasek-senacor commented on #167
PR: https://github.com/EventStore/EventStoreDB-Client-Java/pull/168

[2022-07-29 11:43] daMupfel commented on #75
It seems that some progress was made now. I did some tests with the latest snapshot version.

Regarding point 1 (see initial message):
This still seems to be broken. It will return now 0 instead of 1 which is still not an empty stream. I assume we need to change the type of getNextExpectedRevision to the new ExpectedRevision type so we can represent an empty stream.

Regarding point 2:
This works

[2022-07-30 03:54] YoEight commented on #75
Change will happen at that line: https://github.com/EventStore/EventStoreDB-Client-Java/blob/trunk/db-client-java/src/main/java/com/eventstore/dbclient/AppendToStream.java#L52

The protobuf api does descriminate between `NoStream` and actual stream revision. A patch will come soon.

[2022-08-01 13:14] tambeau opened #169 "Make fetching server info an async operation"
I would suggest doing as we do with other clients (Go or the Rust clients for example). Meaning getting the server version should be an async operation. I truly believed that was the case since the beginning, but maybe I overlooked some changes made in recent PRs.

If it takes too much time for you to fix it, keep the implementation you did, and I'll change it in another PR. Please create an issue

[2022-08-09 12:18] dpasek-senacor opened #170 "Prioritize reconnect after connection loss in GrpcClient"
Currently the `GrpcClient` implementation triggers an automatic reconnect if an operation fails due to connection loss. This reconnect is queue inside the `GrpcClient` after all other open work items to be executed.
This means, that already queued work items will most probably fail as the reconnect is not performed until all these work items have been executed against the lost server connection.

[2022-08-15 14:43] dpasek-senacor opened #171 "Failover does not properly work on read operations."
This is a regression caused by the implementation of the reactive stream support for the stream read operations. (Shame on me. :-) )

### Situation
`EventStoreDBClient` performs a read stream operation and the underlying `GrpcClient` receives:
- a `StatusRuntimeException`with the code `UNAVAILABLE` or `ABORTED`
- a `NotLeaderException`

### Expected bevahior:
The existing gRPC connection (aka the

[2022-08-25 12:59] dpasek-senacor opened #179 "Connect to leader candidate does not support reconnection attempts"
### Situation
- Client is connected to a leader node.
- In the event store cluster a master releection is performed
- Client performs operation against node, now being a follower
- Operations fails with a NotLeaderException containing the proposed leader candidate.
- Client performs a reconnect against this leader candidate but connecton attempt fails.

### Expected behavior
- The client retries t

[2022-08-25 13:02] dpasek-senacor opened #180 "Improvement: Additional logging for the GrpcClient and cluster node discovery"
The GrpcClient does not currently does not provide sufficient logging for analyzing connection and failover behavior:
- No information about the server hosts are logged during discovery/connect
- No information on proppsed leader candidates are logged after NotLeaderExceptions
- Some lifecycle events are not logged.

I would prepare an initial PR for adding/improving log statements to better monit

[2022-08-26 09:28] dpasek-senacor opened #183 "Regression: Use graceful shutdown of channel in case of reconnect"
With one of the last PRs we have introduce a proper shutdown of `ManagedChannels` in case of reconnection attempts after connection loss or a NotLeaderException.
This shutdown did not use the graceful `shutdown()` of the channel but the forced shutdown of the channel using `shutdownNow()`. This might interfere with running gRPC operations which are not properly aborted. Tests have shown that these

[2022-08-26 09:39] dpasek-senacor opened #185 "Improvement: Properly shutdown channel of gossip client."
The `GossipClient` used for cluster discovery create a gRPC `ManagedChannel` which is not shutdown after usage. This causes error logs by the gRPC library when the `GossipClient` is garbage collected.

[code]

See also: https://github.com/EventStore/EventStoreDB-Client-Java/issues/163

[2022-08-30 15:01] timothycoleman opened #187 "Want to consider porting various PRs to master"
Several recent PRs into `release/3.0.0` may want cherry picking to `trunk`. e.g. https://github.com/EventStore/EventStoreDB-Client-Java/pull/172

[2022-09-07 17:17] dpasek-senacor opened #190 "Reactive stream reads might call onError twice"
If a read operation of a stream causes an exception the `onError()` method of a reactive subscriber might be called twice. This is not allowed according to the reactive spec.
.
This is not a problem for the non-reactive API as the second `onError()` call is ignored by the `ReadSuscriber` used in the `EventStoreDBClient`.
When using the reactive API this might be a problem in certain conditions: fr

[2022-09-08 11:07] dpasek-senacor opened #192 "Wrong minimal value for keepAliveTimeout"
The `ConnectionSettingsBuilder` performs validation on the `keepAliveInterval` and `keepAliveTimeout` values.

If the value is below the configured defaults the given values or ignored and the internal defaults defined in `Consts`:
[code]

The default value for the `keepAliveInterval` of 10s makes sense and is in line with the internal defaults used by the gRPC library. The value for `keepAliveTim

[2022-09-12 13:24] #130 closed, assigned to YoEight

[2022-09-14 09:52] hayley-jean commented on #192
Thanks for bringing this to our attention. The behaviour in the `ConnectionSettingsBuilder` is incorrect, it should log a warning about the value being changed, but should still allow you to set it to a lower value.

This is handled correctly when using the [Connection String](https://github.com/EventStore/EventStoreDB-Client-Java/blob/trunk/db-client-java/src/main/java/com/eventstore/dbclient/Eve

[2022-09-14 16:03] matthewadams commented on #159
Given that this issue's title is "Improve Kotlin support", I might also request that you provide a Kotlin client that presents pure Kotlin idioms, delegating to the Java client.  In particular, I'd be looking for support for Kotlin coroutines.  If that merits its own issue, I'll happily create it.

[2022-10-10 08:19] #185 closed, assigned to nobody

[2022-10-10 08:19] #190 closed, assigned to nobody

[2022-10-10 08:20] #183 closed, assigned to nobody

[2022-10-10 08:20] #180 closed, assigned to nobody

[2022-10-10 08:20] #171 closed, assigned to nobody

[2022-10-10 08:20] #179 closed, assigned to nobody

[2022-10-10 08:24] #161 closed, assigned to nobody

[2022-10-10 08:25] #167 closed, assigned to nobody

[2022-10-13 15:19] dosomder commented on #75
@YoEight Any updates when the patch is coming?

[2022-10-14 09:13] daMupfel commented on #75
Hi @YoEight :wave:.
I was wondering if you guys would be up for this to be contributed via a PR?

I wasn't sure since it might contain breaking changes (depending on how it is implemented) and it seemed as it would be done soon anyway.

Best regards,
David

[2022-10-15 08:31] michael-schnell commented on #75
Unfortunately I'm a Java developer (very little C# knowledge)

[2022-10-15 21:11] YoEight commented on #169
Done here: https://github.com/EventStore/EventStoreDB-Client-Java/pull/177

[2022-10-15 21:11] #169 closed, assigned to YoEight

[2022-10-15 21:30] YoEight commented on #75
Sorry for the late response, the patch is there: https://github.com/EventStore/EventStoreDB-Client-Java/pull/196

[2022-10-18 13:13] dosomder commented on #75
Thank you @YoEight for the patch. Would you know when we can roughly expect a release with this fix included?

[2022-10-18 15:03] YoEight commented on #75
Once reviewed, soon-ish. I need to double-check a few things but I don't think there is anything preventing the v4 release.

[2022-10-19 11:17] daMupfel commented on #75
Thank you very much! We are looking forward to this landing :).

[2022-10-20 11:10] #75 closed, assigned to YoEight

[2022-11-01 20:33] YoEight commented on #75
Client version 4.0.0 is available on Maven: https://central.sonatype.dev/artifact/com.eventstore/db-client-java/4.0.0

[2022-11-06 18:42] oexza opened #197 "WriteResult.nextExpectedRevision.valueUnsigned no longer exits in v4.0.0"
It looks line WriteResult.nextExpectedRevision.valueUnsigned was removed in v4.0.0. What is the alternative?

[2022-11-08 13:50] YoEight commented on #197
Hey @oexza , hard to answer you question without context. What were you doing with that value before? A snippet would help too.

[2022-11-15 11:35] rmfaheem opened #198 "Interface for Certificate Input"
The Java client only supports using the default JVM truststore.

On Containers, it can be cumbersome to load certificates into the trust store. Can it be made possible to provide an interface for streaming the certificates and keys into the client application?

Source Ticket: 110542

[2022-11-17 17:16] exosyphon-rxrevu opened #199 "Help reading from $all stream and avoiding deleted streams / events"
We are trying to connect to our EventStoreDb instance using Kotlin (Java) and read from the $all stream. In our lower environment we have a couple deleted streams that we do not want to read. Here are the different ways we have tried connecting and reading that either don't read any streams or read all streams including the deleted streams. Is there a different way we should be reading from the $a

[2022-11-19 19:58] fxshlein opened #210 "Updating projections with a non-JS handler type using the gRPC client"
**Describe the bug**
When updating projections over gRPC, the server seems to always assume that the projection has the type `JS`. When trying to update the internal projections, specifically `$by_category`, this results in an error: "Line 2: Unexpected end of input".

**To Reproduce**
Using the java client:

[code]

(where `client` is the `EventStoreDBProjectionManagementClient` instance)

**Expe

[2022-11-21 17:25] causton81 opened #200 "Incorrect regex in documentation"
This Java example has the line `String excludeSystemEventsRegex = "/^[^\\$].*/";` NOTE surrounding `/`
https://developers.eventstore.com/clients/grpc/subscriptions.html#filtering-out-system-events

I have to remove the outer `/` and use just `final String excludeSystemEventsRegex = "^[^\\$].*";`

Java client: 4.0.0
ESDB docker container: tags/oss-v21.10.8

[2022-11-25 03:43] YoEight commented on #200
Thanks @causton81 for reporting that issue.